nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
}
.nav1-div h1{
    font-size: 20px;
    font-weight: bolder;
}

.circle {
    width: 38px;
    height: 25px;
    background-color: green;
    border-radius: 50%;
    margin-left: 8%;


}

.nav1-div {
    color: green;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px 30px;
    padding-left: 3%;

}


.nav2-div ul {
    display: flex;
    gap: 30px;
    padding-right: 10%;
    padding: 30px 30px;
}

.nav2-div ul li a {
    color: green;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    /* padding-right:10%; */

}

.nav2-div ul li a:hover {
    color: white;
}