/* ======================= heading styling======================== */
.heading{
   text-align: center;
   padding-top: 20px;
   font-weight: 100;
   font-size: 50px;
}
/* =============================Projects style========================================== */
.Projects{
   border: 3px solid black;
   width: 350px;
 }

/* ==========================hover on projecs======================== */
 .Projects:hover{
   background-color: green;
 }

  .Project-div {
   display: grid;
   grid-template-columns: repeat(2, 1fr); 
   grid-template-rows: repeat(2, auto); 
   column-gap: 200px;
   row-gap: 40px; 
   max-width: 900px; 
   margin: 0 auto; 
   padding:70px;
 }
 
 .Projects {
   border: 1px solid #ccc;
   padding: 15px;
   border-radius: 8px;
   background-color: #f9f9f9;
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
 }
 
 .Project1-link {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 
 a {
   text-decoration: none;
   color: black;
   font-weight: bold;
 }
 a:hover{
  color: white;
 }
 .button{
  width: 140px;
  height: 40px;
  margin-left:48%;
  margin-top: 4%;
  /* font-size: 14px; */
  /* font-weight: bold; */
 }
  
  
 